@model PartEditModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div style="display: none; flex-direction: column; align-items:center;">
    <div class="mdc-text-field mdc-text-field--outlined" style="width: 100%; max-width: 600px; margin-top: 16px;">
        <input type="text" id="tf" mtd-required="config-form-name" class="mdc-text-field__input" asp-for="MtdFormPart.Sequence" name="partSeq" required />
        <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
                <label for="tf" class="mdc-floating-label">@Localizer["Sorting index"]</label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
        </div>
    </div>
    <div class="mdc-text-field-helper-line">
        <div class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
            @Localizer["Required field"]
        </div>
    </div>
</div>