@*
    OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev. All rights reserved.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@page
@model IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Configurator"];
    ViewData["SecondTitle"] = Localizer["Configuration and setup"];

}

@section Head  {
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/config/css/mtd-config.css" asp-append-version="true" />
}

<div class="mdc-elevation--z2 mtd-config-place">

    <div mtd-data-href="/config/form" class="mdc-ripple-surface mtd-config-param">
        <div class="mtd-config-param-icon">
            <img src="~/lib/mtd-ordermaker/images/form.png" />
        </div>
        <div class="mtd-config-param-title">
            <span>@Localizer["Forms"]</span>
        </div>
        <div>
            <span>@Localizer["Templates setting"]</span>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/lib/mtd-ordermaker/config/js/mtd-config.js" asp-append-version="true"></script>
}