@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@model Models.Store.DataSet

<div class="mtd-store-view-col-block">
    @if (Model.Parts.FirstOrDefault().MtdFormPartHeader != null)
    {
        var header = Model.Parts.FirstOrDefault().MtdFormPartHeader;
        var base64 = Convert.ToBase64String(header.Image);
        var imgSrc = String.Format("data:{0};base64,{1}", header.ImageType, base64);
        <div class="mtd-store-view-col-header">
            <img src="@imgSrc" />
        </div>
    }

    @foreach (var fieldPic in Model.Fields.Where(x => x.MtdSysType == 8).ToList())
    {
        <div class="mtd-store-view-col-header">
            @await Component.InvokeAsync("StoreStackViewer", new { field = fieldPic, dataSet = Model })
        </div>
    }


    <div class="mtd-store-view-col-wrap">
        @foreach (var field in Model.Fields.Where(x => x.MtdSysType != 8))
        {
            @await Component.InvokeAsync("StoreStackViewer", new { field = field, dataSet = Model })
        }
    </div>
</div>
