@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="mdc-elevation--z8" style="max-width: 450px;margin: 0 auto; left: 50%; padding: 16px 16px 48px 16px; background-color: white">
    <div style="display: flex; flex-direction: column">
        <div style="background-color: lightgray;   width: 52px; height: 52px; border-radius: 50%; text-align:center; align-self: center">
            <i class="material-icons" style="font-size: 48px; color: white">person</i>
        </div>
        <div style="align-self:center; font-weight: bold; color: gray;">
            @ViewBag.UserName
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</div>


@section Breadcrumb {
    @RenderSection("Breadcrumb", required: false)
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}
