@*
    MTD OrderMaker - http://ordermaker.org
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.

    This file is part of MTD OrderMaker.
    MTD OrderMaker is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see  https://www.gnu.org/licenses/.
*@

@model Models.Index.PlaceModelView;

<div class="mdc-card mdc-elevation--z2 mtd-index-card">
    <div id="indexProgress" role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate" style="display:none">
        <div class="mdc-linear-progress__buffering-dots"></div>
        <div class="mdc-linear-progress__buffer"></div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
        <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
            <span class="mdc-linear-progress__bar-inner"></span>
        </div>
    </div>
    <div id="indexModal" class="mtd-index-modal" style="display: none;"></div>

    @await Component.InvokeAsync("IndexHeader", new { idForm = Model.IdForm })
    @await Component.InvokeAsync("IndexFilterDisplay", new { idForm = Model.IdForm })
    @await Component.InvokeAsync("IndexFilterSelector", new { idForm = Model.IdForm })
    @await Component.InvokeAsync("IndexFilterColumns", new { idForm = Model.IdForm })
    @await Component.InvokeAsync("IndexRows", new { idForm = Model.IdForm })

</div>


