@page
@model ForgotPasswordConfirmation

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Forgot password confirmation"];
}

<div class="mdc-elevation--z8" style="max-width: 450px;margin: 0 auto; left: 50%; padding: 16px 16px 16px 16px; background-color: white">
    <span style="font-size:large; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
    <hr />
    <p>@Localizer["A password recovery link was sent to the specified mailbox"].</p>
</div>


