@page
@model ForgotPasswordModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Password recovery"];
}

<div class="mdc-elevation--z8" style="max-width: 450px;margin: 0 auto; left: 50%; padding: 16px 16px 16px 16px; background-color: white">
    <span style="font-size:medium; text-transform:uppercase; padding-top: 24px;">@ViewBag.Title</span>
    <p>@Localizer["Enter your account email address"].</p>
    <form method="post" autocomplete="off">
        <div asp-validation-summary="All" style="color: red"></div>
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon" style="width: 100%; margin-top: 8px;">
            <i class="material-icons mdc-text-field__icon">email</i>
            <input id="login-email" asp-for="Input.Email" type="text" class="mdc-text-field__input" />
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="login-email" class="mdc-floating-label">Email</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <div style="padding-top: 24px; text-align: right">
            <button class="mdc-button mdc-button--raised" type="submit">@Localizer["Next"]</button>
        </div>
    </form>
</div>





